<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote of the day</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>

 <div class="quote-box">
    <h2>Quote of the day</h2>
    <blockquote id="quote">{{quote}}</blockquote>
    <span id="author">{{author}}</span>
    <div>
        <button onclick="window.location.reload();">New Quote</button>
    </div>
 </div>
</body>
</html>